* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FDC100;
}

.container {
    width: 90%; /* Ubah ke persentase untuk fleksibilitas */
    max-width: 500px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Tambahkan padding agar konten memiliki ruang */
}

form {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Agar label dan input rata kiri */
}

h1 {
    margin: 20px 0;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
}

form label {
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    width: 100%;
    text-align: left;
}

input {
    width: 100%;
    margin: 2px 0;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
}

button {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    max-width: 250px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: #FDC100;
}

button:hover {
    background: red;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}

.error-message {
    color: black;
    font-size: 14px;
    display: block;
    padding-top: 5px;
    text-align: left;
    width: 100%;
}




@media (max-width: 768px) {
    .container {
        width: 80%;
        padding: 15px;
    }

    h1 {
        font-size: 18px;
        margin-left: 0;
        text-align: center;
    }

    form label, .error-message {
        margin-left: 0;
        font-size: 14px;
    }

    input {
        width: 100%;
        margin-left: 0;
    }

    button{
        width: 100px;
        align-content: center;

        margin-left: 10px;
    }
}

    


